.DS_Store
.idea/
.vscode/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

datasets/train/
datasets/test/
pretrained_models/
checkpoints/
results/
wandb/
finetune/checkpoint/
finetune/wandb/
metrics/DOVER/
metrics/FAST-VQA-and-FasterVQA/

*.pth
*.pt
*.ckpt
*.safetensors
